.landing{
    background-image: url("../../images/charizard.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing > h1{
    margin: 0px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: rgba(255, 117, 4, 0.5);
}

.landing > a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    background-color: rgba(52, 92, 236, 0.8);
    padding-left: 5px;
    padding-right: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.landing > a:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.landing > a:active {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    transform: scale(0.9);
}